include _header.jade
<div class="main_product">
    <div class="name">піжама-трійка</div>
    <div class="image">
        <div class="label">Знижка<span>-30%</span></div>
        <img src="files/main-product.jpg" alt="">
    </div>
    <div class="prod_detals">
        <div class="old_price">
            <span>Стара ціна</span>
            <strong>1400 грн</strong>
        </div>
        <div class="current_price">
            <span>Нова ціна</span>
            <strong>999 грн</strong>
        </div>
    </div>
    <div class="form_top">
        <form action="">
            <div class="field">
                <input type="text" placeholder="Введіть ваше ім’я">
            </div>
            <div class="field">
                <input type="text" placeholder="Введіть ваш телефон">
            </div>
            <button class="btn_button">замовити зі знижкою</button>
            <div class="form_text">Залишилось <span>17</span> штук по акції</div>
        </form>
    </div>
</div>
<div class="time_wrap">
    <div class="title">пропозиція діє</div>
    <div class="countdown timer1">
        <div class="bloc-time hours" data-init-value="24">
            <div class="figure hours hours-1">
                <span class="top">2</span>
                <span class="top-back">
                    <span>2</span>
                </span>
                <span class="bottom">2</span>
                <span class="bottom-back">
                    <span>2</span>
                </span>
            </div>
            <div class="figure hours hours-2">
                <span class="top">4</span>
                <span class="top-back">
                    <span>4</span>
                </span>
                <span class="bottom">4</span>
                <span class="bottom-back">
                    <span>4</span>
                </span>
            </div>
            <span class="count-title">годин</span>
        </div>
        <div class="bloc-time min" data-init-value="0">
            <div class="figure min min-1">
                <span class="top">0</span>
                <span class="top-back">
                    <span>0</span>
                </span>
                <span class="bottom">0</span>
                <span class="bottom-back">
                    <span>0</span>
                </span>
            </div>
            <div class="figure min min-2">
                <span class="top">0</span>
                <span class="top-back">
                    <span>0</span>
                </span>
                <span class="bottom">0</span>
                <span class="bottom-back">
                    <span>0</span>
                </span>
            </div>
            <span class="count-title">хвилин</span>
        </div>
        <div class="bloc-time sec" data-init-value="0">
            <div class="figure sec sec-1">
                <span class="top">0</span>
                <span class="top-back">
                    <span>0</span>
                </span>
                <span class="bottom">0</span>
                <span class="bottom-back">
                    <span>0</span>
                </span>
            </div>
            <div class="figure sec sec-2">
                <span class="top">0</span>
                <span class="top-back">
                    <span>0</span>
                </span>
                <span class="bottom">0</span>
                <span class="bottom-back">
                    <span>0</span>
                </span>
            </div>
            <span class="count-title">секунд</span>
        </div>
    </div>
</div>
<div class="two_products_wrap">
    <div class="title">За зниженою ціною, <span>ви отримуєте два</span> готові домашні образи</div>
    <div class="inner">
        <div class="item">
            <img src="files/t1.jpg" alt="">
            <div class="name">Футболка + штани</div>
        </div>
        <div class="item">
            <img src="files/t2.jpg" alt="">
            <div class="name">Футболка + шорти</div>
        </div>
    </div>
    <ul class="list">
        <li>
            <div class="icon">
                <img src="files/icon1.svg" alt="">
            </div>
            <div class="name"><span>Власне виробництво</span></div>
        </li>
        <li>
            <div class="icon">
                <img src="files/icon2.svg" alt="">
            </div>
            <div class="name"><span>Матеріал: Велюр</span></div>
        </li>
        <li>
            <div class="icon">
                <img src="files/icon3.svg" alt="">
            </div>
            <div class="name"><span>Склад: 80% бавовни, 20% поліестеру</span></div>
        </li>
        <li>
            <div class="icon">
                <img src="files/icon4.svg" alt="">
            </div>
            <div class="name"><span>Є обмін та повернення</span></div>
        </li>
    </ul>
</div>
<div class="product_list">
    <div class="product_item slider_item">
        <div class="images">
            <div class="swiper_arrow">
                <div class="swiper_arrow_btn swiper-new1-prev"></div>
                <div class="swiper_arrow_btn swiper-new1-next"></div>
            </div>
            <div class="swiper mySwiper_images1" data-id="mySwiper_images1" data-arrow="new1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="files/product.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="files/product2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="files/product3.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="files/product4.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="size">S M L XL 2XL</div>
        </div>
        <div class="name">Колір: Фуме</div>
        <div class="prices">
            <div class="current_price">999 грн</div>
            <div class="old_price">1400 грн</div>
        </div>
        <div class="btn_button">замовити</div>
    </div>
    <div class="product_item slider_item">
        <div class="images">
            <div class="swiper_arrow">
                <div class="swiper_arrow_btn swiper-new2-prev"></div>
                <div class="swiper_arrow_btn swiper-new2-next"></div>
            </div>
            <div class="swiper mySwiper_images2" data-id="mySwiper_images2" data-arrow="new2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="files/product2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="files/product.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="files/product3.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="files/product4.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="size">S M L XL 2XL</div>
        </div>
        <div class="name">Колір: Пудра</div>
        <div class="prices">
            <div class="current_price">999 грн</div>
            <div class="old_price">1400 грн</div>
        </div>
        <div class="btn_button">замовити</div>
    </div>
    <div class="product_item slider_item">
        <div class="images">
            <div class="swiper_arrow">
                <div class="swiper_arrow_btn swiper-new3-prev"></div>
                <div class="swiper_arrow_btn swiper-new3-next"></div>
            </div>
            <div class="swiper mySwiper_images3" data-id="mySwiper_images3" data-arrow="new3">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="files/product3.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="files/product2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="files/product.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="files/product4.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="size">S XL 2XL</div>
        </div>
        <div class="name">Колір: Шоколад</div>
        <div class="prices">
            <div class="current_price">999 грн</div>
            <div class="old_price">1400 грн</div>
        </div>
        <div class="btn_button">замовити</div>
    </div>
    <div class="product_item slider_item">
        <div class="images">
            <div class="swiper_arrow">
                <div class="swiper_arrow_btn swiper-new4-prev"></div>
                <div class="swiper_arrow_btn swiper-new4-next"></div>
            </div>
            <div class="swiper mySwiper_images4" data-id="mySwiper_images4" data-arrow="new4">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="files/product4.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="files/product2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="files/product3.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="files/product.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="size">S M L XL 2XL</div>
        </div>
        <div class="name">Колір: Смарагд</div>
        <div class="prices">
            <div class="current_price">999 грн</div>
            <div class="old_price">1400 грн</div>
        </div>
        <div class="btn_button">замовити</div>
    </div>
</div>
<div class="table_size_wrap">
    <div class="title">Розмірна сітка</div>
    <div class="image">
        <img src="files/table.jpg" alt="">
    </div>
</div>
<div class="review_block_wr slider_item">
    <div class="title">Відгуки клієнтів</div>
    <div class="inner">
        <div class="swiper_arrow">
            <div class="swiper_arrow_btn swiper-review-prev"></div>
            <div class="swiper_arrow_btn swiper-review-next"></div>
        </div>
        <div class="swiper mySwiper_review" data-id="mySwiper_review" data-arrow="review">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="image">
                        <img src="files/review.jpg" alt="">
                    </div>
                    <div class="body">
                        <div class="name">Аліна Романівна</div>
                        <div class="job">м. Хмельницький</div>
                        <div class="text">Сподобалася комплект, дуже приємна тканина та чудовий сервіс. Хвилювалася, що резинка буде тиснути (завжди маю таку проблему), але в цього виробника все чудово підійшло. Рекомендую!!</div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="image">
                        <img src="files/review.jpg" alt="">
                    </div>
                    <div class="body">
                        <div class="name">Аліна Романівна</div>
                        <div class="job">м. Хмельницький</div>
                        <div class="text">Сподобалася комплект, дуже приємна тканина та чудовий сервіс. Хвилювалася, що резинка буде тиснути (завжди маю таку проблему), але в цього виробника все чудово підійшло. Рекомендую!!</div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="image">
                        <img src="files/review.jpg" alt="">
                    </div>
                    <div class="body">
                        <div class="name">Аліна Романівна</div>
                        <div class="job">м. Хмельницький</div>
                        <div class="text">Сподобалася комплект, дуже приємна тканина та чудовий сервіс. Хвилювалася, що резинка буде тиснути (завжди маю таку проблему), але в цього виробника все чудово підійшло. Рекомендую!!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="preim_block">
    <div class="title">Як зробити замовлення?</div>
    <div class="inner">
        <div class="item">
            <div class="icon">
                <img src="files/preim1.svg" alt="">
            </div>
            <div class="right">
                <div class="name">Заповніть форму</div>
                <div class="text">Напишіть свій номер телефону та імʼя</div>
            </div>
        </div>
        <div class="item">
            <div class="icon">
                <img src="files/preim2.svg" alt="">
            </div>
            <div class="right">
                <div class="name">Менеджер зателефонує</div>
                <div class="text">Наш менеджер звʼяжеться з вами і допоможе підібрати розмір та уточнить адресу доставки</div>
            </div>
        </div>
        <div class="item">
            <div class="icon">
                <img src="files/preim3.svg" alt="">
            </div>
            <div class="right">
                <div class="name">Отримання товару</div>
                <div class="text">Ми надішлемо ваше замовлення Новою Поштою</div>
            </div>
        </div>
    </div>
</div>
<div class="main_product">
    <div class="name">піжама-трійка</div>
    <div class="image">
        <div class="label">Знижка<span>-30%</span></div>
        <img src="files/main-product.jpg" alt="">
    </div>
    <div class="prod_detals">
        <div class="old_price">
            <span>Стара ціна</span>
            <strong>1400 грн</strong>
        </div>
        <div class="current_price">
            <span>Нова ціна</span>
            <strong>999 грн</strong>
        </div>
    </div>
    <div class="form_top">
        <form action="">
            <div class="field">
                <input type="text" placeholder="Введіть ваше ім’я">
            </div>
            <div class="field">
                <input type="text" placeholder="Введіть ваш телефон">
            </div>
            <button class="btn_button">замовити зі знижкою</button>
            <div class="form_text">Залишилось <span>17</span> штук по акції</div>
        </form>
    </div>
</div>
<div class="time_wrap">
    <div class="title">пропозиція діє</div>
    <div class="countdown timer2">
        <div class="bloc-time hours" data-init-value="24">
            <div class="figure hours hours-1">
                <span class="top">2</span>
                <span class="top-back">
                    <span>2</span>
                </span>
                <span class="bottom">2</span>
                <span class="bottom-back">
                    <span>2</span>
                </span>
            </div>
            <div class="figure hours hours-2">
                <span class="top">4</span>
                <span class="top-back">
                    <span>4</span>
                </span>
                <span class="bottom">4</span>
                <span class="bottom-back">
                    <span>4</span>
                </span>
            </div>
            <span class="count-title">годин</span>
        </div>
        <div class="bloc-time min" data-init-value="0">
            <div class="figure min min-1">
                <span class="top">0</span>
                <span class="top-back">
                    <span>0</span>
                </span>
                <span class="bottom">0</span>
                <span class="bottom-back">
                    <span>0</span>
                </span>
            </div>
            <div class="figure min min-2">
                <span class="top">0</span>
                <span class="top-back">
                    <span>0</span>
                </span>
                <span class="bottom">0</span>
                <span class="bottom-back">
                    <span>0</span>
                </span>
            </div>
            <span class="count-title">хвилин</span>
        </div>
        <div class="bloc-time sec" data-init-value="0">
            <div class="figure sec sec-1">
                <span class="top">0</span>
                <span class="top-back">
                    <span>0</span>
                </span>
                <span class="bottom">0</span>
                <span class="bottom-back">
                    <span>0</span>
                </span>
            </div>
            <div class="figure sec sec-2">
                <span class="top">0</span>
                <span class="top-back">
                    <span>0</span>
                </span>
                <span class="bottom">0</span>
                <span class="bottom-back">
                    <span>0</span>
                </span>
            </div>
            <span class="count-title">секунд</span>
        </div>
    </div>
</div>
include _footer.jade